<div class="px-4 flex gap-4 self-center m-auto">
  <aside id="logo-sidebar" class="w-1/4 transition-transform -translate-x-full  sm:translate-x-0 border border-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-800 rounded-lg" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto ">
      <ul class="space-y-2 font-medium">
        <li>
          <%= link_to dashboard_index_path, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
            <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
              <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
              <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
            </svg>
            <span class="ml-3">Dashboard</span>
          <% end %>
        </li>
        <li>
          <%= link_to profile_path, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
            <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
              <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
            </svg>
            <span class="flex-1 ml-3 whitespace-nowrap">Profile</span>
          <% end %>
        </li>
        <li>
          <%= link_to dashboard_index_path, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
            <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
              <path d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z"/>
            </svg>
            <span class="flex-1 ml-3 whitespace-nowrap">Posts</span>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, data: {"turbo-method": :delete}, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
            <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h11m0 0-4-4m4 4-4 4m-5 3H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h3"/>
            </svg>
            <span class="flex-1 ml-3 whitespace-nowrap">Log Out</span>
          <% end %>
        </li>
      </ul>
    </div>
  </aside>
  <div class="w-2/4">
    <% current_user.posts.each do |post| %>
      <%= render partial: 'posts/post_card', locals: {post: post} %>
    <% end %>
  </div>
  <div class="w-1/4">
    <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-800">
      <h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
        Expand your reach
      </h5>
      <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Link your account with other integrated apps and share your content across all linked platforms!</p>
      <%= form_for current_user, url: complete_step_3_onboarding_index_path, method: :get do |f| %>
        <ul class="my-4 space-y-3">
          <% if current_user.devto_api_key.blank? %>
            <li class="p-3 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white">
              <div class="flex items-center text-base font-bold text-gray-900 dark:text-gray-300 mb-3 ">
                <img src="/devto.png" alt="writing photo" class="w-6 h-6">
                <span class="flex-1 ml-2 whitespace-nowrap">Dev.to</span>
                <span class="inline-flex items-center justify-center px-2 py-0.5 ml-3 text-xs font-medium text-gray-500 bg-gray-200 rounded dark:bg-gray-800 dark:text-gray-400">Popular</span>
              </div>
              <div class="relative w-full ">
                <%= f.text_field :devto_api_key, placeholder: "Dev.to key", class: "block mb-2 w-full p-4 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
                <a href="https://dev.to/settings/extensions/#api_secret_description" target="_blank" class="font-medium text-blue-600 dark:text-blue-400 hover:underline">Get the key</a>
              </div>
            </li>
          <% end %>
          <% if current_user.hashnode_access_token.blank? %>
            <li class="p-3 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white">
              <div class="flex items-center text-base font-bold text-gray-900 dark:text-gray-300 mb-3 ">
                <img src="/hashnode.png" alt="writing photo" class="w-6 h-6">
                <span class="flex-1 ml-2 whitespace-nowrap">Hashnode</span>
              </div>
              <div class="relative w-full mb-3">
                <%= f.text_field :hashnode_access_token, placeholder: "Hashnode Token", class: "block w-full p-4 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
                <a href="https://hashnode.com/settings/developer" target="_blank" class="font-medium text-blue-600 dark:text-blue-400 hover:underline">Get the key</a>
              </div>
              <div class="relative w-full">
                <%= f.text_field :hashnode_username, placeholder: "Hashnode username", class: "block w-full p-4 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
            </li>
          <% end %>
          <li class="grayscale">
            <div class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50  dark:bg-gray-600  dark:text-white">
              <img src="/twitter.png" alt="writing photo" class="w-6 h-6">
              <span class="flex-1 ml-3 whitespace-nowrap">Twitter</span>
              <span class="inline-flex items-center justify-center px-2 py-0.5 ml-3 text-xs font-medium text-gray-500 bg-gray-200 rounded dark:bg-gray-700 dark:text-gray-400">Coming soon!</span>
            </div>
          </li>
          <li class="grayscale">
            <div class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50  dark:bg-gray-600  dark:text-white">
              <img src="/linkedin.png" alt="writing photo" class="w-6 h-6">
              <span class="flex-1 ml-3 whitespace-nowrap">Linkedin</span>
              <span class="inline-flex items-center justify-center px-2 py-0.5 ml-3 text-xs font-medium text-gray-500 bg-gray-200 rounded dark:bg-gray-700 dark:text-gray-400">Coming soon!</span>
            </div>
          </li>
          <li class="grayscale">
            <div class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50  dark:bg-gray-600  dark:text-white">
              <img src="/medium.png" alt="writing photo" class="w-6 h-6">
              <span class="flex-1 ml-3 whitespace-nowrap">Medium</span>
              <span class="inline-flex items-center justify-center px-2 py-0.5 ml-3 text-xs font-medium text-gray-500 bg-gray-200 rounded dark:bg-gray-700 dark:text-gray-400">Coming soon!</span>
            </div>
          </li>
        </ul>
        <button type="submit" class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base  px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full  dark:text-gray-300  border border-gray-200  focus:ring-[#24292F]/50  text-[15px] inline-flex gap-2 items-center justify-center  dark:border-gray-600 mr-2 mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-gray-300">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          Continue
        </button>
      <% end %>
    </div>
  </div>
