<section class="bg-white dark:bg-gray-900 mt-16">
  <div class="pt-12 pb-8 px-4 mx-auto max-w-screen-xl lg:py-16 flex">
    <div class="p-8 md:p-12 mb-4">
      <h1 class="text-gray-900 dark:text-white text-2xl md:text-5xl font-extrabold mb-6">
        Repost Your Genius, Elevate the Ruby on Rails Community</h1>
      <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-8">
        Repost on the best platforms, grow your brand, and earn rewards while helping others!<br>
        Join us in shaping a stronger Ruby on Rails community by sharing your knowledge and experience with others!
      </p>
      <%= button_to user_github_omniauth_authorize_path , data: { turbo: false }, class: "button-default group group-hover:from-purple-600 group-hover:to-red-500" do %>
        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0 text-base">
          Get Started
        </span>
      <% end %>

    </div>
    <div class="w-full">
      <img src="hero-engage.svg" class=" h-[400px] w-full rounded-xl" alt="">
    </div>
  </div>
</section>
<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
<%# END JUMBOTRON %>
<%# LEADERBOARD %>
<div class="py-4 flex flex-col align-middle items-center mb-12">
  <div>
    <h2 class="text-gray-900 dark:text-gray-50 text-xl font-bold mb-8">Leaderboard (coming soon)</h2>
  </div>
  <div class="flex gap-20">
    <% 3.times do %>
      <div>
        <img data-tooltip-target="tooltip-jese" class="w-24 mx-auto h-24 p-1 rounded-full ring-2 ring-gray-50 dark:ring-gray-500" src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" alt="Medium avatar">
        <div class=" text-gray-400">Your Username here</div>
      </div>
    <% end %>
  </div>
</div>
<%# END LEADERBOARD %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<h1 class="mt-6 mb-12 text-center font-sans text-5xl">Write on <span class="text-red-600">Rails</span>!</h1>
<div class="text-center">
  <% if current_user %>
    <%= link_to "Log out", destroy_user_session_path, data: {"turbo-method": :delete} %>
  <% else %>
    <%= button_to "Login with Github", user_github_omniauth_authorize_path , data: { turbo: false }, class: "font-bold underline" %>
  <% end %>
</div>
