<div class="p-4 flex gap-4 self-center m-auto">
  <aside id="logo-sidebar" class="w-1/4 min-h-screen transition-transform -translate-x-full  sm:translate-x-0 " aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto">
      <%= image_tag current_user.github_avatar, class: "w-full h-auto rounded-full" %>
      <div class="flex flex-col py-5 text-gray-900 dark:text-gray-300">
        <h3 class="mb-2 text-2xl font-medium "><%= current_user.name %></h3>
        <div class="w-full my-2 flex items-center text-center">
          <a href="https://github.com/<%=current_user.nickname%>" target="_blank" class="w-full text-gray-800 dark:text-gray-300 bg-gray-100 hover:bg-gray-200 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-normal rounded-lg text-[15px] px-5 py-2.5 text-center inline-flex items-center justify-center dark:bg-gray-700 dark:focus:ring-gray-500 dark:hover:bg-gray-800 dark:border-gray-600 mr-2 mb-2">
            <%= embedded_svg("github", class: "w-6 h-6 mr-2")%>
            Follow on Github
          </a>
        </div>
        <span class="mb-4 text-md text-gray-500 dark:text-gray-400"><%= current_user.github_bio %></span>
        <% github_data.each do |data| %>
          <% if data[:content] %>
            <div class="flex items-start text-left text-gray-700 dark:text-gray-400 mb-2">
              <%= embedded_svg(data[:icon], class: "w-6 h-6")%>
              <span class="ml-2 text-gray-900 dark:text-gray-300"><%= data[:content] %></span>
            </div>
          <% end %>
        <% end %>
        <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
        <div class="my-4">
          <h5 class="mb-4 text-md font-medium ">Achievements</h5>
          <div class="flex gap-4">
            <img class="h-12 w-auto hover:h-14 ease-in duration-300 rounded-full border-2 border-gray-300 dark:border-gray-400 " src="achievement-1.png" alt="Achievement">
            <img class="h-12 w-auto hover:h-14 ease-in duration-300 rounded-full border-2 border-gray-300 dark:border-gray-400 " src="achievement-2.png" alt="Achievement">
            <img class="h-12 w-auto hover:h-14 ease-in duration-300 rounded-full border-2 border-gray-300 dark:border-gray-400 " src="achievement-3.png" alt="Achievement">
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="w-3/4">
    <div class="flex justify-between mb-4">
      <h2 class="text-gray-900 dark:text-gray-300 text-2xl font-bold">Latest posts</h2>
      <a href="#" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
        See all posts
        <svg class="w-4 h-4 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
    </div>
    <% current_user.posts.each do |post| %>
      <%= render partial: "posts/post_card", locals: {post: post}  %>
    <% end %>
  </div>
</div>
