<div data-controller="editor">
  <%= form_for @post do |f| %>
    <div class="mb-4">
      <%= f.label :title, "Title", class: "block text-sm font-medium leading-6 text-gray-300" %>
      <div class="relative mt-2 rounded-md shadow-sm">
        <%= f.text_field :title, class: "lock w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
      </div>
    </div>
    <div id="editor"></div>
    <%= f.text_area :md_content, {"data-editor-target": "field", class: "hidden"} %>
    <div class="mt-6 flex items-center justify-end gap-x-6">
      <%= f.submit "Create Post", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"%>
    </div>
  <% end %>
</div>
