<div class="grid grid-cols-4 mb-4 gap-4">
  <div class="col-span-3">
    <div class=" mb-5 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span-3">
          <h5 id="title" class="mb-4 text-3xl font-bold tracking-tight text-gray-800 dark:text-gray-300">
            <%= @post.title %></h5>
          <div class="flex gap-4 text-gray-500 dark:text-gray-400">
            <div class="flex gap-1">
              <%= embedded_svg("eye", class: "w-6 h-6") %>
              <span><%= @post.total_views %></span>
            </div>
            <div class="flex gap-1">
              <%= embedded_svg("heart", class: "w-6 h-6" ) %>
              <span><%= @post.total_likes %></span>
            </div>
            <div class="flex gap-1">
              <%= embedded_svg("chat-bubble-bottom-center", class: "w-6 h-6" ) %>
              <span><%= @post.total_comments %></span>
            </div>
          </div>
        </div>
        <div class="col-span-1 flex justify-end items-center gap-4">
          <%= link_to edit_post_path(@post), class: "text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500" do %>
            <%= embedded_svg("pencil-square", class: "w-6 h-6") %>
            <span class="sr-only">pencil square icon</span>
          <% end %>
          <%= button_to post_path(@post), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: "text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500" do %>
            <%= embedded_svg("trash", class: "w-6 h-6") %>
            <span class="sr-only">Trash icon</span>
          <% end %>
        </div>
      </div>
      <hr class="h-px my-6 bg-gray-200 border-0 dark:bg-gray-700">
      <div class="mb-12">
        <ul class="text-gray-500 dark:text-gray-400">
          <li class="mb-5 grid grid-cols-5 gap-8">
            <div class="flex items-center gap-2">
              <%= embedded_svg("calendar", class: "w-4 h-4") %>
              <span>Created at </span>
            </div>
            <div>
              <span class="text-gray-600 dark:text-gray-300"><%= @post.created_at.strftime("%b %d, %Y") %></span>
            </div>
          </li>
          <li class="mb-5 grid grid-cols-5 gap-8">
            <div class="flex items-center gap-2">
              <%= embedded_svg("document", class: "w-4 h-4") %>
              <span>Status</span>
            </div>
            <div>
              <%= render_badge(text: "Published", color: "green") %>
            </div>
          </li>
          <%= turbo_frame_tag "post_#{@post.id}_platforms" do %>
            <%= render partial: 'posts/platforms_status', locals: {post: @post} %>
          <% end %>
        </ul>
      </div>
      <div data-controller="dropdown">
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 rounded-t-lg  dark:text-gray-400 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-800" data-action="click->dropdown#toggle">
          <span>Post Body</span>
          <div id="dropdownArrow" data-dropdown-target="dropdownArrow">
            <%= embedded_svg("chevron-down", class: "w-4 h-4") %>
          </div>
        </button>
        <div id="dropdownMenu" data-dropdown-target="dropdownMenu" class="hidden" data-controller="markdown-viewer">
          <div class="p-5 rounded-b-lg border border-gray-200 dark:border-gray-700 dark:bg-gray-900">
            <p class="text-gray-800 dark:text-gray-300" id="viewer" data-markdown-viewer-target="content">
              <%= @post.md_content %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class=" mb-5 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <span class="text-gray-800 dark:text-gray-300">Comments here</span>
    </div>
  </div>
  <div class="col-span-1">
    <%= turbo_frame_tag "platforms" do %>
      <%= render partial: 'platforms_box', locals: {post: @post} %>
    <% end %>
  </div>
</div>
