<div class="header fixed z-50 top-0 w-full bg-blur bg-white bg-opacity-75 dark:bg-gray-900 dark:bg-opacity-75 ">
  <nav>
    <div class="max-w-screen-2xl pt-4 px-4 m-auto">
      <div class="flex flex-wrap items-center justify-between mx-auto">
        <a href="/" class="flex items-center">
          <h1 class="text-center font-sans text-xl font-bold dark:text-gray-50	">Writeon<span class="text-rose-500">Rails</span></h1>
        </a>
        <div class="md:order-2">
          <% if current_user %>
            <div class="relative">
              <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName" class="flex items-center text-sm font-medium text-gray-900 rounded-full hover:text-blue-600 dark:hover:text-blue-500 md:mr-0  dark:text-white" type="button">
                <%= image_tag current_user.github_avatar, class: "w-10 h-10 mr-2 rounded-full" %>
                <%= current_user.email %>
                <%= embedded_svg("chevron-down", class: "w-2.5 h-2.5 ml-2.5")%>
              </button>
              <div id="dropdownAvatarName" class="z-10 hidden absolute top-14 right-0  bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
                  <li>
                    <%= link_to "Dashboard", dashboard_index_path, class:"block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"%>
                  </li>
                  <li>
                    <%= link_to "Profile", profile_index_path, class:"block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"%>
                  </li>
                </ul>
                <div class="py-2">
                  <%= link_to "Log out", destroy_user_session_path, data: {"turbo-method": :delete}, class:"block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"%>
                </div>
              </div>
            </div>
          <% else %>
            <%= button_to user_github_omniauth_authorize_path , data: { turbo: false }, class:"text-white bg-gray-700 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-gray-800 mr-2 mb-2" do %>
              <%= embedded_svg("github", class: "w-4 h-4 mr-2") %>
              Connect with Github
            <% end %>
          <% end %>
        </div>
        <% unless current_user %>
          <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0  dark:border-gray-700">
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-white rounded md:bg-transparent md:text-purple-500 md:p-0 md:dark:text-purple-400" aria-current="page">Home</a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-purple-500 md:p-0 md:dark:hover:text-purple-400 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-purple-500 md:p-0 md:dark:hover:text-purple-400 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Leaderboard</a>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
      <% if current_user %>
        <div>
          <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
            <% nav_list.each do |nav| %>
              <li class="mr-2">
                <%= link_to nav[:path] , class:"inline-flex items-center justify-center p-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group #{active_path(nav[:controllers])} #{nav[:inactive] ? "cursor-not-allowed text-gray-600 hover:text-gray-600 dark:hover:text-gray-600" : ""}" do %>
                  <%= embedded_svg(nav[:icon], class: "w-5 h-5 mr-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300") %>
                  <%= nav[:name] %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </nav>
    <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
  </div>
