<div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-800">
  <h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
    Repost
  </h5>
  <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Link your account with other integrated apps and share your posts across all linked platforms!</p>
  <%= form_for current_user, url: integrations_path, method: :post do |f| %>
    <ul class="my-4 space-y-3">
      <li class="p-3 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white">
        <%= integration_box_content(platform: "devto") %>
        <% if !current_user.devto_ready? %>
          <div class="relative w-full ">
            <%= f.text_field :devto_api_key, placeholder: "Dev.to key", class: "block mb-2 w-full p-4 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            <a href="https://dev.to/settings/extensions/#api_secret_description" target="_blank" class="font-medium text-blue-600 dark:text-blue-400 hover:underline">Get the key</a>
          </div>
        <% end %>
      </li>
      <li class="p-3 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white">
        <%= integration_box_content(platform: "hashnode") %>
        <% if !current_user.hashnode_ready? %>
          <div class="relative w-full my-3">
            <%= f.text_field :hashnode_access_token, placeholder: "Hashnode Token", class: "block w-full p-4 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            <a href="https://hashnode.com/settings/developer" target="_blank" class="font-medium text-blue-600 dark:text-blue-400 hover:underline">Get the key</a>
          </div>
          <div class="relative w-full">
            <%= f.text_field :hashnode_username, placeholder: "Hashnode username", class: "block w-full p-4 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
          </div>
        </li>
      <% end %>
    </ul>
    <% if !current_user.hashnode_ready? || !current_user.devto_ready? %>
      <button type="submit" class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base  px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full  dark:text-gray-300  border border-gray-200  focus:ring-[#24292F]/50  text-[15px] inline-flex gap-2 items-center justify-center  dark:border-gray-600 mr-2 mb-2">
        Continue
      </button>
    <% end %>
  <% end %>
</div>
