<!DOCTYPE html>
<html>
  <head>
    <title>WriteOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
    <%= vite_javascript_tag 'application' %>
  </head>
  <body class="bg-gray-100 dark:bg-gray-900">
    <%= render "common/header" %>
    <div class="<%= current_user ? "my-32" : "my-24" %> px-6 max-w-screen-2xl m-auto">
      <turbo-frame id="flash">
        <%= render partial: 'common/flash_notice' %>
      </turbo-frame>
      <div class="mt-4">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
